@import "colorscheme.css";

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-entry * {
    padding: 5px 5px;
    display: block;
}

.nav-entry span {
    color: var(--navbar-select);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nav-entry a {
    color: var(--navbar-normal);
    text-decoration: none;
}

.nav-entry a:link {
    color: var(--navbar-normal);
}

.nav-entry a:hover {
    color: var(--navbar-select);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nav-entry button {
    color: var(--navbar-normal);
    background: var(--background);
    border: none;
    font-size: 1em;
    font-family: "Bricolage Grotesque", sans-serif;
}

.nav-entry button:hover {
    color: var(--navbar-select);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nav-entry.left {
    float: left;
}
.nav-entry.right {
    float: right;
}
