body {
    background-color: #282828;
    color: #fbf1c7;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    border-color: #665c54;
}

a {
    color: #fe8019;
}
a:hover {
    color: #fb4934;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

button {
    border-radius: 2px;
    border-style: outset;
    color: #fbf1c7;
    background: #504945;
    border-color: #665c64;
}
button:hover {
    background: #665c54;
}
button:active {
    background: #3c3836;
}

/*.header {*/
/*}*/

.body {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    position: relative;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}


.side-panel-container {
    position: absolute;
    width: 100%;
}
/* hide side panels when they overlap the content box */
@media screen and (max-width: 1540px) {
    .side-panel-container {
        display: none;
    }
}

.side-panel {
    width: 20%;
}
.left-panel {
    float: left;
    text-align: left;
}
.right-panel {
    float: right;
    text-align: right;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
}
