@import "colorscheme.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

::selection {
    color: var(--color4);
    background: var(--hightlight);
}

* {
    text-underline-offset: 5px;
    line-height: 1.8em;
}

body {
    background: var(--background);
    color: var(--color0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 800px;

    font-family: "Merriweather", serif;
    font-size: 20px;
}

hr {
    border-color: var(--color2);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

a {
    color: var(--hightlight);
    text-decoration: none;
}

a:hover {
    color: var(--color0);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.body {
    background: var(--color3);
    padding: 1em;
}

.below-header {
    margin-top: 0;
}

center.equation {
    font-size: 1.2em;
}

.footer {
    font-size: 0.8em;
}

.datetime {
    font-size: 0.9em;
    font-style: italic;
    color: var(--color1);
    margin-right: 1em;
}
