body {
    background-color: #b69cff;
    color: #2f2d36;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

hr {
    border-color: #a0a0a0;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

button {
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
}

/*.header {*/
/*}*/

.body {
    flex-grow: 1;
    background-color: #efebff;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 1em;
}

.footer {
    text-align: center;
    font-size: 0.8em;
}
