body {
    background-color: #282828;
    color: #fbf1c7;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 18px;
}

hr {
    border-color: #665c54;
}

a {
    color: #fe8019;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
